In [2]:
# Dependencies
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

#purchase_data.head()
#purchase_data.info()

# Player Count
#
# Calculate the number of unique players
players_count = len(purchase_data["SN"].unique())

# Create a dataframe to display the number of unique players
summary_players_table = pd.DataFrame({"Total Players": [players_count]})
summary_players_table

   Total Players
0            576

In [3]:
# Purchasing Analysis (Total)
#
# Calculate the number of unique purchase items
unique_items = len(purchase_data["Item ID"].unique())

# Calculate the average price of items
avg_price = round(purchase_data["Price"].mean(), 2)

# Calculate the total number of purchases made
num_purchases = len(purchase_data)

# Calculate the total revenue generated
total_rev = purchase_data["Price"].sum()

# Create a dataframe to display Purchasing Analysis Total
summary_analysis_table = pd.DataFrame({"Number of Unique Items":[unique_items],
                                     "Average Price": [avg_price],
                                     "Number of Purchases": [num_purchases],
                                     "Total Revenue": [total_rev]})
summary_analysis_table

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     183           3.05                  780        2379.77

In [4]:
# Gender demographics
#
# Calculate Male count and percentage
male_data = purchase_data.loc[purchase_data["Gender"] == "Male", :]
new_male_data = male_data.groupby("SN")
male_count = len(new_male_data)
male_perc = round(male_count/players_count * 100, 2)
# Calculate Female count and percentage
female_data = purchase_data.loc[purchase_data["Gender"] == "Female", :]
new_female_data = female_data.groupby("SN")
female_count = len(new_female_data)
female_perc = round(female_count/players_count * 100, 2)
# Calculate other/undisclosed count and percentage
other_data = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed", :]
new_other_data = other_data.groupby("SN")
other_count = len(new_other_data)
other_perc = round(other_count/players_count * 100,2)
# Create a dataframe to display Gender Demographics
summary_gender_table = pd.DataFrame({" ": ["Male", "Female", "Other/Non-Disclosed"],
                                     "Total Count": [male_count, female_count, other_count],
                                     "Percentage of Players": [male_perc, female_perc, other_perc]})
summary_gender_table

                        Total Count  Percentage of Players
0                 Male          484                  84.03
1               Female           81                  14.06
2  Other/Non-Disclosed           11                   1.91

In [22]:
# Purchasing Analysis (Gender)
#
# Calculate purchase count, avg purchase price, total purchase value, avg total purchase per person for Females
female_purch_count = len(female_data)
female_avg_price = round(female_data["Price"].mean(), 2)
female_total_val = female_data["Price"].sum()
female_avg_val = round(female_total_val / female_count, 2)
#print(female_avg_val)
# Calculate purchase count, avg purchase price, total purchase value, avg total purchase per person for Males
male_purch_count = len(male_data)
male_avg_price = round(male_data["Price"].mean(), 2)
male_total_val = male_data["Price"].sum()
male_avg_val = round(male_total_val / male_count, 2)
# Calculate purchase count, avg purchase price, total purchase value, avg total purchase per person for Others
other_purch_count = len(other_data)
other_avg_price = round(other_data["Price"].mean(), 2)
other_total_val = other_data["Price"].sum()
other_avg_val = round(other_total_val / other_count, 2)

# Create a dataframe to display Purchasing Analysis (Gender)
summary_gender_analysis = pd.DataFrame({"Gender ": ["Female", "Male", "Other/Non-Disclosed"],
                                     "Purchase Count": [female_purch_count, male_purch_count, other_purch_count],
                                     "Average Purchase Price": [female_avg_price, male_avg_price, other_avg_price],
                                     "Total Purchase Value": [female_total_val, male_total_val, other_total_val],
                                     "Avg Total Purchase per Person": [female_avg_val, male_avg_val, other_avg_val]})
summary_gender_analysis

,Gender,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
0,Female,113,3.20,361.94,4.47
1,Male,652,3.02,1967.64,4.07
2,Other/Non-Disclosed,15,3.35,50.19,4.56