In [112]:
# Dependencies
import pandas as pd
import numpy as np

# File to Load 
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

#purchase_data.head()
#purchase_data.info()

### Player Count ###
#
# Calculate the number of unique players
players_count = len(purchase_data["SN"].unique())

# Create a dataframe to display the number of unique players
summary_players_table = pd.DataFrame({"Total Players": [players_count]})
summary_players_table

   Total Players
0            576

In [113]:
### Purchasing Analysis (Total) ###
#
# Calculate the number of unique purchase items
unique_items = len(purchase_data["Item ID"].unique())

# Calculate the average price of items
avg_price = purchase_data["Price"].mean()

# Calculate the total number of purchases made
num_purchases = len(purchase_data)

# Calculate the total revenue generated
total_rev = purchase_data["Price"].sum()

# Create a dataframe to display Purchasing Analysis Total
summary_analysis_table = pd.DataFrame({"Number of Unique Items":[unique_items],
                                     "Average Price": [avg_price],
                                     "Number of Purchases": [num_purchases],
                                     "Total Revenue": [total_rev]})
pd.options.display.float_format = '${:,.2f}'.format
summary_analysis_table

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     183          $3.05                  780      $2,379.77

In [114]:
### Gender Demographics ###
#
# Calculate Male count and percentage
male_data = purchase_data.loc[purchase_data["Gender"] == "Male", :]
new_male_data = male_data.groupby("SN")
male_count = len(new_male_data)
male_perc = round(male_count/players_count * 100, 2)
# Calculate Female count and percentage
female_data = purchase_data.loc[purchase_data["Gender"] == "Female", :]
new_female_data = female_data.groupby("SN")
female_count = len(new_female_data)
female_perc = round(female_count/players_count * 100, 2)
# Calculate other/undisclosed count and percentage
other_data = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed", :]
new_other_data = other_data.groupby("SN")
other_count = len(new_other_data)
other_perc = round(other_count/players_count * 100,2)
# Create a dataframe to display Gender Demographics
summary_gender_table = pd.DataFrame({" ": ["Male", "Female", "Other/Non-Disclosed"],
                                     "Total Count": [male_count, female_count, other_count],
                                     "Percentage of Players": [male_perc, female_perc, other_perc]})
pd.options.display.float_format = '{:,.2f}%'.format
summary_gender_table

                        Total Count  Percentage of Players
0                 Male          484                 84.03%
1               Female           81                 14.06%
2  Other/Non-Disclosed           11                  1.91%

In [115]:
### Purchasing Analysis (Gender) ###
#
# Calculate purchase count, avg purchase price, total purchase value, avg total purchase per person for Females
female_purch_count = len(female_data)
female_avg_price = round(female_data["Price"].mean(), 2)
female_total_val = female_data["Price"].sum()
female_avg_val = round(female_total_val / female_count, 2)
#print(female_avg_val)
# Calculate purchase count, avg purchase price, total purchase value, avg total purchase per person for Males
male_purch_count = len(male_data)
male_avg_price = round(male_data["Price"].mean(), 2)
male_total_val = male_data["Price"].sum()
male_avg_val = round(male_total_val / male_count, 2)
# Calculate purchase count, avg purchase price, total purchase value, avg total purchase per person for Others
other_purch_count = len(other_data)
other_avg_price = round(other_data["Price"].mean(), 2)
other_total_val = other_data["Price"].sum()
other_avg_val = round(other_total_val / other_count, 2)

# Create a dataframe to display Purchasing Analysis (Gender)
summary_gender_analysis = pd.DataFrame({"Gender ": ["Female", "Male", "Other/Non-Disclosed"],
                                     "Purchase Count": [female_purch_count, male_purch_count, other_purch_count],
                                     "Average Purchase Price": [female_avg_price, male_avg_price, other_avg_price],
                                     "Total Purchase Value": [female_total_val, male_total_val, other_total_val],
                                     "Avg Total Purchase per Person": [female_avg_val, male_avg_val, other_avg_val]})
pd.options.display.float_format = '${:,.2f}'.format
summary_gender_analysis

,Gender,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
0,Female,113,$3.20,$361.94,$4.47
1,Male,652,$3.02,"$1,967.64",$4.07
2,Other/Non-Disclosed,15,$3.35,$50.19,$4.56

In [116]:
### Age Demographics ###
#
#
# Create a new dataframe for age demographics and remove duplicates from the data
age_df = purchase_data.filter(["SN", "Age"])
#age_df = age_df.drop_duplicates()

# Create bins in which data will be held 
# Bins are 0, 10, 15, 20, 25, 30, 35, 40
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]

# Create labels for the 8 bins
group_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Place the data series into a new index column inside of the DataFrame
age_df["Age Group"] = pd.cut(age_df["Age"], bins=bins, labels=group_labels)

# Create a GroupBy object based upon "Age Group"
# Get the total count of each age group and create a new column in the DataFrame
summary_age_table = age_df.groupby(
    "Age Group"
).agg(
     total_count=pd.NamedAgg(column="SN", aggfunc="nunique")
)
# Compute the percentage of players in each age group with function get_percentage()
def get_percentage(x):
      pct = float(x/summary_age_table['total_count'].sum()) * 100
      return round(pct, 2)
# Create a new column in the DataFrame
summary_age_table['percentage'] = summary_age_table.apply(get_percentage, axis=1)

# Rename the columns in the DataFrame
summary_age_table = summary_age_table.rename(columns={"total_count":"Total Count", "percentage":"Percentage of Players"})

# Remove the index name from the summary table DataFrame
del summary_age_table.index.name
pd.options.display.float_format = '{:,.2f}%'.format
summary_age_table

       Total Count  Percentage of Players
<10             17                  2.95%
10-14           22                  3.82%
15-19          107                 18.58%
20-24          258                 44.79%
25-29           77                 13.37%
30-34           52                  9.03%
35-39           31                  5.38%
40+             12                  2.08%

In [117]:
### Purchasing Analysis (Age) ###
#
# Create a new dataframe for purchase analyis by age ranges 
purchase_age_df = purchase_data.filter(["SN", "Age", "Item ID", "Price"])

# Place the data series into a new index column inside of the DataFrame
purchase_age_df["Age Ranges"] = pd.cut(purchase_age_df["Age"], bins=bins, labels=group_labels)
purchase_age_df.head()

#print(len(purchase_age_df))

# Create a GroupBy object based upon "Age Ranges"
# Calculate purchase count, avg_price and total purchase value of each age range and create new columns in the DataFrame
summary_purchase_age = purchase_age_df.groupby(
    "Age Ranges"
).agg(
     total_count=pd.NamedAgg(column="SN", aggfunc="nunique"),
     purchase_count=pd.NamedAgg(column="Age", aggfunc="count"),
     avg_price=pd.NamedAgg(column="Price", aggfunc="mean"),
     total_val=pd.NamedAgg(column="Price", aggfunc="sum")
)  
# Compute the average total per person in each age group with function get_average()
def get_average(value, count):
      avg = float(value/count)
      return avg
# Create a new column in the DataFrame
summary_purchase_age["avg_total"] = summary_purchase_age.apply(lambda x:
                                                             get_average(x["total_val"],x["total_count"]), axis=1)

# Remove the 'total_count' column from the DataFrame
summary_purchase_age.drop(["total_count"], axis=1, inplace=True)

# Rename the columns in the DataFrame
summary_purchase_age = summary_purchase_age.rename(columns={"purchase_count":"Purchase Count",
                                                           "avg_price":"Average Purchase Price",
                                                           "total_val":"Total Purchase Value",
                                                           "avg_total":"Avg Total Purchase per Person"})
pd.options.display.float_format = '${:,.2f}'.format
summary_purchase_age

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Ranges,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

In [ ]:
### Top Spenders ###