In [126]:
# Dependencies
import pandas as pd
import numpy as np

# File to Load 
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

#purchase_data.head()
#purchase_data.info()

### Player Count ###
#
# Calculate the number of unique players
players_count = len(purchase_data["SN"].unique())

# Create a dataframe to display the number of unique players
summary_players_table = pd.DataFrame({"Total Players": [players_count]})

# Set caption 'Player Count' for the DataFrame
summary_players_table = summary_players_table.style.set_caption('Player Count')

# Display Total Players
summary_players_table

In [127]:
### Purchasing Analysis (Total) ###
#
# Calculate the number of unique purchase items
unique_items = len(purchase_data["Item ID"].unique())

# Calculate the average price of items
avg_price = purchase_data["Price"].mean()

# Calculate the total number of purchases made
num_purchases = len(purchase_data)

# Calculate the total revenue generated
total_rev = purchase_data["Price"].sum()

# Create a dataframe to display Purchasing Analysis Total
summary_analysis_table = pd.DataFrame({"Number of Unique Items":[unique_items],
                                     "Average Price": [avg_price],
                                     "Number of Purchases": [num_purchases],
                                     "Total Revenue": [total_rev]})

# Apply formatting to the DataFrame
pd.options.display.float_format = '${:,.2f}'.format

# Set caption 'Purchasing Analysis (Total)' for the DataFrame
summary_analysis_table = summary_analysis_table.style.set_caption('Purchasing Analysis (Total)')

# Display Summary Analysis DataFrame
summary_analysis_table

In [128]:
### Gender Demographics ###
#
# Calculate Male count and percentage
male_data = purchase_data.loc[purchase_data["Gender"] == "Male", :]
new_male_data = male_data.groupby("SN")
male_count = len(new_male_data)
male_perc = round(male_count/players_count * 100, 2)

# Calculate Female count and percentage
female_data = purchase_data.loc[purchase_data["Gender"] == "Female", :]
new_female_data = female_data.groupby("SN")
female_count = len(new_female_data)
female_perc = round(female_count/players_count * 100, 2)

# Calculate other/undisclosed count and percentage
other_data = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed", :]
new_other_data = other_data.groupby("SN")
other_count = len(new_other_data)
other_perc = round(other_count/players_count * 100,2)

# Create a dataframe to display Gender Demographics
summary_gender_table = pd.DataFrame({" ": ["Male", "Female", "Other/Non-Disclosed"],
                                     "Total Count": [male_count, female_count, other_count],
                                     "Percentage of Players": [male_perc, female_perc, other_perc]})

# Apply formatting to the DataFrame
pd.options.display.float_format = '{:,.2f}%'.format

# Set caption 'Gender Demographics' for the DataFrame
summary_gender_table = summary_gender_table.style.set_caption('Gender Demographics')

# Display Gender Demographics
summary_gender_table

In [129]:
### Purchasing Analysis (Gender) ###
#
# Calculate purchase count, avg purchase price, total purchase value, avg total purchase per person for Females
female_purch_count = len(female_data)
female_avg_price = round(female_data["Price"].mean(), 2)
female_total_val = female_data["Price"].sum()
female_avg_val = round(female_total_val / female_count, 2)
#print(female_avg_val)
# Calculate purchase count, avg purchase price, total purchase value, avg total purchase per person for Males
male_purch_count = len(male_data)
male_avg_price = round(male_data["Price"].mean(), 2)
male_total_val = male_data["Price"].sum()
male_avg_val = round(male_total_val / male_count, 2)
# Calculate purchase count, avg purchase price, total purchase value, avg total purchase per person for Others
other_purch_count = len(other_data)
other_avg_price = round(other_data["Price"].mean(), 2)
other_total_val = other_data["Price"].sum()
other_avg_val = round(other_total_val / other_count, 2)

# Create a dataframe to display Purchasing Analysis (Gender)
summary_gender_analysis = pd.DataFrame({"Gender ": ["Female", "Male", "Other/Non-Disclosed"],
                                     "Purchase Count": [female_purch_count, male_purch_count, other_purch_count],
                                     "Average Purchase Price": [female_avg_price, male_avg_price, other_avg_price],
                                     "Total Purchase Value": [female_total_val, male_total_val, other_total_val],
                                     "Avg Total Purchase per Person": [female_avg_val, male_avg_val, other_avg_val]})

# Apply formatting to the DataFrame
pd.options.display.float_format = '${:,.2f}'.format

# Set caption 'Purchasing Analyis (Gender)' for the DataFrame
summary_gender_analysis = summary_gender_analysis.style.set_caption('Purchasing Analyis (Gender)')

# Display Summary Purchase Analysis by Gender
summary_gender_analysis

In [130]:
### Age Demographics ###
#
#
# Create a new dataframe for age demographics and remove duplicates from the data
age_df = purchase_data.filter(["SN", "Age"])
#age_df = age_df.drop_duplicates()

# Create bins in which data will be held 
# Bins are 0, 10, 15, 20, 25, 30, 35, 40
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]

# Create labels for the 8 bins
group_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Place the data series into a new index column inside of the DataFrame
age_df["Age Group"] = pd.cut(age_df["Age"], bins=bins, labels=group_labels)

# Create a GroupBy object based upon "Age Group"
# Get the total count of each age group and create a new column in the DataFrame
summary_age_table = age_df.groupby(
    "Age Group"
).agg(
     total_count=pd.NamedAgg(column="SN", aggfunc="nunique")
)
# Compute the percentage of players in each age group with function get_percentage()
def get_percentage(x):
      pct = float(x/summary_age_table['total_count'].sum()) * 100
      return round(pct, 2)
# Create a new column in the DataFrame
summary_age_table['percentage'] = summary_age_table.apply(get_percentage, axis=1)

# Rename the columns in the DataFrame
summary_age_table = summary_age_table.rename(columns={"total_count":"Total Count", "percentage":"Percentage of Players"})

# Remove the index name from the summary table DataFrame
del summary_age_table.index.name

# Apply formatting to the DataFrame
pd.options.display.float_format = '{:,.2f}%'.format

# Set caption 'Age Demographics' for the DataFrame
summary_age_table = summary_age_table.style.set_caption('Age Demographics')

# Display the Age Demographics
summary_age_table

In [131]:
### Purchasing Analysis (Age) ###
#
# Create a new dataframe for purchase analyis by age ranges 
purchase_age_df = purchase_data.filter(["SN", "Age", "Item ID", "Price"])

# Place the data series into a new index column inside of the DataFrame
purchase_age_df["Age Ranges"] = pd.cut(purchase_age_df["Age"], bins=bins, labels=group_labels)
purchase_age_df.head()

#print(len(purchase_age_df))

# Create a GroupBy object based upon "Age Ranges"
# Calculate purchase count, avg_price and total purchase value of each age range and create new columns in the DataFrame
summary_purchase_age = purchase_age_df.groupby(
    "Age Ranges"
).agg(
     total_count=pd.NamedAgg(column="SN", aggfunc="nunique"),
     purchase_count=pd.NamedAgg(column="Age", aggfunc="count"),
     avg_price=pd.NamedAgg(column="Price", aggfunc="mean"),
     total_val=pd.NamedAgg(column="Price", aggfunc="sum")
)  
# Compute the average total per person in each age group with function get_average()
def get_average(value, count):
      avg = float(value/count)
      return avg
# Create a new column in the DataFrame
summary_purchase_age["avg_total"] = summary_purchase_age.apply(lambda x:
                                                             get_average(x["total_val"],x["total_count"]), axis=1)

# Remove the 'total_count' column from the DataFrame
summary_purchase_age.drop(["total_count"], axis=1, inplace=True)

# Rename the columns in the DataFrame
summary_purchase_age = summary_purchase_age.rename(columns={"purchase_count":"Purchase Count",
                                                           "avg_price":"Average Purchase Price",
                                                           "total_val":"Total Purchase Value",
                                                           "avg_total":"Avg Total Purchase per Person"})

# Apply formatting to the DataFrame
pd.options.display.float_format = '${:,.2f}'.format

# Set caption 'Purchasing Analysis (Age)' for the DataFrame
summary_purchase_age = summary_purchase_age.style.set_caption('Purchasing Analysis (Age)')

# Display the Summary Purchase Analysis by Age Ranges
summary_purchase_age

In [132]:
### Top Spenders ###
#
# Create a new dataframe for top spenders 
top_spenders_df = purchase_data.filter(["SN", "Item ID", "Price"])

# Create a GroupBy object based upon Players
# Calculate purchase count, avg purchase price and total purchase value of each player and
# create new columns in the DataFrame
summary_top_spenders = top_spenders_df.groupby(
    "SN"
).agg(
     purchase_count=pd.NamedAgg(column="SN", aggfunc="count"),
     avg_price=pd.NamedAgg(column="Price", aggfunc="mean"),
     total_val=pd.NamedAgg(column="Price", aggfunc="sum")
) 
# Sort the DataFrame by the Total Purchase Value
summary_top_spenders = summary_top_spenders.sort_values("total_val", ascending=False)

# Rename the columns in the DataFrame
summary_top_spenders  = summary_top_spenders.rename(columns={"purchase_count":"Purchase Count",
                                                             "avg_price":"Average Purchase Price",
                                                             "total_val":"Total Purchase Value"})

# Apply formatting to the DataFrame
pd.options.display.float_format = '${:,.2f}'.format

# Set caption 'Top Spenders' for the DataFrame
#summary_top_spenders = summary_top_spenders.style.set_caption('Top Spenders')

# Display a preview of the summary top spenders DataFrame
summary_top_spenders.head()

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                   $3.79                $18.96
Idastidru52               4                   $3.86                $15.45
Chamjask73                3                   $4.61                $13.83
Iral74                    4                   $3.40                $13.62
Iskadarya95               3                   $4.37                $13.10

In [133]:
### Most Popular Items ###
#
# Create a new dataframe for top spenders 
popular_items_df = purchase_data.filter(["Item ID", "Item Name", "Price"])

# Create a GroupBy object based upon Item ID and Item Name
# Calculate purchase count and total purchase value of each item player and create new columns in the DataFrame
summary_items = popular_items_df.groupby(
    ["Item ID", "Item Name", "Price"]
).agg(
     purch_count=pd.NamedAgg(column="Item ID", aggfunc="count"),
     total_val=pd.NamedAgg(column="Price", aggfunc="sum")
)
# Convert the Price in the index to a column
summary_items.reset_index(level='Price',inplace=True)

# Rearrange the order of the columns in the DataFrame
summary_items = summary_items.reindex(columns=['purch_count','Price','total_val'])

# Sort the DataFrame by Purchase Count
summary_popular_items = summary_items.sort_values("purch_count", ascending=False)

# Rename the columns in the DataFrame
summary_popular_items  = summary_popular_items.rename(columns={"purch_count":"Purchase Count",
                                                               "price":"Item Price",
                                                               "total_val":"Total Purchase Value"})

# Apply formatting to the DataFrame
pd.options.display.float_format = '${:,.2f}'.format

# Set caption 'Top Spenders' for the DataFrame
#summary_popular_items =summary_popular_items.style.set_caption('Most Popular Items')

# Display a preview of the summary Popular Items DataFrame
summary_popular_items.head()

,,Purchase Count,Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

In [135]:
### Most Profitable Items ###
#
# Sort the summary item table from above by total purchase value in descending order

summary_profitable_items = summary_items.sort_values("total_val", ascending=False)

# Rename the columns in the DataFrame
summary_profitable_items  = summary_profitable_items.rename(columns={"purch_count":"Purchase Count",
                                                                     "total_val":"Total Purchase Value"})

# Apply formatting to the DataFrame
pd.options.display.float_format = '${:,.2f}'.format

# Set caption 'Most Profitable Items' for the DataFrame
#summary_profitable_items = summary_profitable_items.style.set_caption('Most Profitable Items')

# Display a preview of the summary Profitable Items DataFrame
summary_profitable_items.head()

,,Purchase Count,Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80